<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf97b9">  <td>20/07/31 01:14:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTC.browserLaunch()[pri:0, instance:Bank.Test.LoginTC@6737fd8f]">&gt;&gt;browserLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/07/31 01:14:56</td>   <td>18183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTC.verifyTitlePage()[pri:1, instance:Bank.Test.LoginTC@6737fd8f]">verifyTitlePage</td> 
  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/07/31 01:14:56</td>   <td>18243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTC.loginPage()[pri:2, instance:Bank.Test.LoginTC@6737fd8f]">loginPage</td> 
  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/07/31 01:15:00</td>   <td>21987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTC.newCustomer()[pri:3, instance:Bank.Test.LoginTC@6737fd8f]">newCustomer</td> 
  <td>main@245475541</td>   <td></td> </tr>
</table>
